html{
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
}

.header h1{
    margin-top: 50px;
    text-align: center;
    
}
.header h1 span{
    color: #037BC0;
}

.texto-img{
    display: flex;
}

.texto-img img{
    width: 400px;
    height: 300px;
    margin-left: 350px;
}

.texto-img p{
    margin-left: 20px;
    margin-right: 300px;
    font-weight: normal;
    font-size: smaller;
    line-height: 1.5;
    white-space: pre-line;
}

nav{
    text-align: center;
    padding-top: 20px;
}

.nav a{
    padding: 3rem;
    text-decoration: none;
    color: black;
    font-size:smaller;
}

h2{
    margin-top: 30px;
    text-align: center;
}
.footer{
    display: flex;
    margin-left: 350px; 
}

.footer .sobre-nosotros-footer{
    margin-left: 180px;
}
.footer .soporte-footer{
    margin-left: 110px;
}

.footer li, a{
    list-style: none;
    text-decoration: none;
    font-size: small;
    color: black;
    font-weight: normal;
    line-height: 1.5;
}

footer h6{
    text-align: center;
}